body, html {
  font-family: 'Josefin Sans', "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #222222;
  margin-bottom: 50px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.4;
}

h1 {
  font-size: 5rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}

a, a:active, a:hover, a:link, a:visited {
  color: black;
}

li {
  list-style-type: none;
  margin-left: -40px;
  padding-top: 10px;
  font-size: 19px;
}

span.feature-studied {
  margin-right: 5px;
  color: #0BE370;
}

span.medium-post {
  margin-left: 5px;
  margin-right: 5px;
}

.fa-medium {
  color: #0BE370;
}
