<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Algorithm</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="assets/js/algorithms_controller.js"></script>
  </head>

  <body ng-app='algorithm'>
    <h1>Algorithm</h1>
    <p>My path to master Algorithms, Data Structures & Programming Competition</p>
    <p>by
      <span class='my-name'>TK</span>
    </p>

    <div ng-controller='AlgorithmsController'>
      <ul>
        <h2>Algorithms</h2>
        <li ng-repeat="algorithm in algorithms">
          <span class='algorithm-studied' ng-if='algorithm.studied'><i class="fa fa-check"></i></span>
          <b>{{algorithm.title}}</b>
          <span class="medium-post" ng-if='algorithm.hasMediumPost'>
            <a href="{{algorithm.mediumPostUrl}}" target="_blank"><i class='fa fa-medium'></i></a>
          </span>
          <span class="github-code" ng-if='algorithm.hasGithubCode'>
            <a href="{{algorithm.githubCodeUrl}}" target="_blank"><i class='fa fa-github'></i></a>
          </span>
        </li>
      </ul>
    </div>

    <div ng-controller='DataStructuresController'>
      <ul>
        <h2>Data Structures</h2>
        <li ng-repeat="dataStructure in dataStructures">
          <span class='data-structure-studied' ng-if='dataStructure.studied'><i class="fa fa-check"></i></span>
          <b>{{dataStructure.title}}</b>
          <span class="medium-post" ng-if='dataStructure.hasMediumPost'>
            <a href="{{dataStructure.mediumPostUrl}}" target="_blank"><i class='fa fa-medium'></i></a>
          </span>
          <span class="github-code" ng-if='dataStructure.hasGithubCode'>
            <a href="{{dataStructure.githubCodeUrl}}" target="_blank"><i class='fa fa-github'></i></a>
          </span>
        </li>
      </ul>
    </div>

    <div ng-controller='CppFeaturesController'>
      <ul>
        <h2>C++ Features</h2>
        <li ng-repeat="feature in cppFeatures">
          <span class='feature-studied' ng-if='feature.studied'><i class="fa fa-check"></i></span>
          <b>{{feature.title}}</b>
          <span class="medium-post" ng-if='feature.hasMediumPost'>
            <a href="{{feature.mediumPostUrl}}" target="_blank"><i class='fa fa-medium'></i></a>
          </span>
          <span class="github-code" ng-if='feature.hasGithubCode'>
            <a href="{{feature.githubCodeUrl}}" target="_blank"><i class='fa fa-github'></i></a>
          </span>
        </li>
      </ul>
    </div>
  </body>
</html>
